
	.primarycontent {
	 position: absolute;
	 top: 200px;
	 left: 250px;
	 width: 620px;
	 height: 325px;
	 overflow: auto;
	 color: #30356c;
	 font-family: arial;
	 font-weight: none;
	 font-size: 10px;
	 text-align: left;
	}
	
	
	.patienttext {
	 position: absolute;
	 top: 10px;
	 left: 50px;
	 width: 250px;
	 color: #30356c;
	 font-family: arial;
	 font-weight: none;
	 font-size: 11px;
	 text-align: right;
	}
	
	.partners {
	position: absolute;
	 top: 215px;
	 left: 10px;
	 width: 350px;
	 color: #30356c;
	 font-family: arial;
	 font-weight: none;
	 font-size: 11px;
	 text-align: left;
	}
	
	.smallprint {
	position: relative;
	top: 100px;
	left: 20px;
	width: 300px;
	text-decoration: none;
	color: #9395aa;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	}
	
	.smallprint span{
	text-decoration: none;
	color: #30356c;
	font-size: 11px;
	font-weight: bold;
	}
	
	.smallprint a:visited {
	text-decoration: none;
	color: #9395aa;
	font-size: 11px;
	font-weight: bold;
	}
	
	.smallprint a {
	text-decoration: none;
	color: #9395aa;
	font-size: 11px;
	font-weight: bold;
	}
	
	.smallprint a:hover, a active {
	color: #30356c;
	text-decoration: none;
	text-align: left;
	font-family: arial;
	font-size: 11px;
	font-weight: bold; 
	}	
	

	
	

	h2  {
	position: absolute;
	top: 130px;
	left: 450px;
	background: #30356c url(../images/partnerships_header.gif) no-repeat;
	width: 264px;
	height: 29px;
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	}
	
	
   .starhome {
   position: absolute;
   top: 217px;
   left: 143px;
   width: 35px;
   height: 35px;
   background: url(../images/star.jpg) no-repeat;
   }


   #partnerfacts {
   position: absolute;
   top: 210px;
   left: 600px;
   width: 254px;
   height: 400px;
   }
   
 